#### Probability Ratio Encoding

In [1]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('titanic_train.csv',usecols=['Survived','Cabin'])

In [7]:
df['Cabin'].fillna("missing",inplace=True)

In [8]:
df.head()

   Survived    Cabin
0         0  missing
1         1      C85
2         1  missing
3         1     C123
4         0  missing

In [9]:
df['Cabin']=df['Cabin'].astype(str).str[0]

In [14]:
df.head()

   Survived Cabin
0         0     m
1         1     C
2         1     m
3         1     C
4         0     m

In [16]:
prob_df=df.groupby('Cabin')['Survived'].mean()

In [18]:
prob_df=pd.DataFrame(prob_df)

In [20]:
prob_df

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
T      0.000000
m      0.299854

In [23]:
prob_df['Died']=1-prob_df['Survived']

In [24]:
prob_df

       Survived      Died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000
F      0.615385  0.384615
G      0.500000  0.500000
T      0.000000  1.000000
m      0.299854  0.700146

In [25]:
prob_df['Probability_Ratio']=prob_df['Survived']/prob_df['Died']

In [26]:
prob_df

       Survived      Died  Probability_Ratio
Cabin
A      0.466667  0.533333           0.875000
B      0.744681  0.255319           2.916667
C      0.593220  0.406780           1.458333
D      0.757576  0.242424           3.125000
E      0.750000  0.250000           3.000000
F      0.615385  0.384615           1.600000
G      0.500000  0.500000           1.000000
T      0.000000  1.000000           0.000000
m      0.299854  0.700146           0.428274

In [28]:
map_prob=prob_df['Probability_Ratio'].to_dict()

In [30]:
df['Cabin_prob']=df['Cabin'].map(map_prob)

### Standardization